@charset "utf-8";


body{
    
    -webkit-animation-name: body 4s infinite;
    animation: body 4s infinite;
}


@keyframes body{
    
    0%{
        background: red;
    }
    25%{
    
        background: yellow;
    }
    50%{
        
        background: green;
    }
    75%{
        
        background: blue;
    
    }
    100%{
        
        background: pink;
    
    }
    
}